.container {
    background-image: url(weather-image.jpeg);
}

.weather-container {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 800px;
    padding: 10px;


}

.card {
    border: none;
}

#details {
    width: 700px;
    text-align: center;
}

#description {
    padding: 50px 0;
}

.weather-container strong {
    font-size: 100px;
}

.weather-container .units {
    position: relative;
    font-size: 20px;
    top: -55px;

}
.weather-container img{
    height: 150px;
    width: 150px;
}

.weather-container .active {
    color: gray;
}

.col-md {
    padding: 0;
    height: 130px;
}
div.col {
    padding: 0px;
}

.card {
    margin: 15px auto;
}

.search-input {
    font-family: 'Gill Sans', sans-serif;
    width: 330px;
    height: 35px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-left: 15px;
}

.wrapper {
    margin: 50px auto;

}

.wrapper small {
    max-width: 700px;
}

.forecast {
    text-align: center;
    padding: 10px;
}

.forecast img {
    width: 60px;
    height: 60px;
    text-align: center;
}

.forecast-date {
    font-family: 'Merriweather', serif;
}

.forecast-temp {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Merriweather';
}

.forecast-temp .min-temp {
    opacity: 0.5;
}

button {
    border: 1px solid #cccccc79;
    background-color: #cccccc42;
    transition: 150ms ease-in;
    cursor: pointer;
    border-radius: 3px;
    height: 35px;
    width: 30px;
    padding: 0px;
}


button:hover {
    border: 1px solid #cccccc42;
    background-color: #cccccc79;
    transition: 150ms ease-in;

}

hr {
    color: gray;
}


li {
    display: block;
    list-style: none;
    line-height: 18px;
    margin: 0;
    padding: 0;
    color: gray;
    font-family: Verdana, Geneva, Tahoma;
}

li.first-letter {
    text-transform: capitalize;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
}
