.weather-container {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 700px;
    padding: 10px;
    margin: 50px;
}

.row {
    margin-left: 10px;
}

.card {
    border: none;
}

.weather-container strong {
    font-size: 100px;
}

.weather-container .units {
    position: relative;
    font-size: 20px;
    top: -55px;

}
.weather-container img{
    height: 165px;
    width: 165px;
    float: left;

}

.weather-container .active {
    color: gray;
}

.col-md {
    padding: 0;
    height: 130px;
}

#description {
    margin-top: 50px;
}

.card {
    margin: 15px auto;
}

.search-input {
    width: 300px;
    height: 33px;
}

button {
    border: 1px solid black;
    height: 33px;
    width: 30px;
}


button.hover {
    cursor: pointer;
}

li {
    display: block;
    list-style: none;
    line-height: 18px;
    margin: 0;
    padding: 0;
    color: gray;
}

li.first-letter {
    text-transform: capitalize;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
}



